.test{
    
    height: 290px;
    border: 1px solid black;
    border-radius: 30px;
    margin: 15px; 
    animation-name: Change;
    animation-delay: 1s;
    animation-duration:2s;
    animation-timing-function: ease-out;
    
}
@keyframes Change {
    0%{ background-color: white;}
    50%{ background-color:rgb(215, 240, 255)}
    100%{background-color: transparent;}
}
.col-4{
    width: calc(100%/4);
 
}
.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container{
    width: 100%;
  padding: 15px;
  margin: auto;
 
}
.image{
    justify-content: center;
    height: 153px;
    
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: calc(100%);

}
.test:hover{
    transform: rotate(20deg);
    transition: 1s;
    background-color:rgb(215, 240, 255);
    color: rgb(255, 1, 1)
}
.test:active{
    background-color:rgb(215, 240, 255);
    color: rgb(255, 1, 1);
    transform: scale(2);
    transition: 1s;
}
.image:hover{
 opacity: 0.6;
}
h1{
    text-align: center;
    margin-bottom:10px;
    animation-name: Title;
    animation-delay: 1s;
    animation-duration:5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes Title {
    0%{color: rgb(0, 0, 0); font-size: 50px;}
    25%{color: rgb(1, 153, 255); font-size: 50px;}
    50%{color: rgb(48, 1, 255); font-size: 50px;}
    75%{color: rgb(255, 1, 1); font-size: 50px;}
    100%{color: rgb(0, 70, 64); font-size: 50px;}
}
/* h1:hover{
    color: rgb(255, 1, 1);
    transform: scale(2);
    transition: 1s;
} */
div > strong{
    text-align: center;
    color: rgb(255, 0, 0);
    
   
}
div >p{
    text-align:justify;
    font-size:15px;
    box-sizing: border-box;
    padding:15px;
    position:relative;
    top: -25px;
    
}
